global
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s
  log global

frontend fe_srvr
	bind ":${FRONTEND_BIND}"
  default_backend be_srvr

backend be_srvr
  server srvr0 "${BACKEND_IP}:${BACKEND_PORT}"

